get_prop(system_app, vendor_fm_prop) 
type vendor_sysfs_graphics, sysfs_type, fs_type;
type sysfs_usb_supply, sysfs_type, fs_type;

# RealmeHub
allow system_app vendor_sysfs_graphics:file { getattr open read };

# FPS Info
allow system_app sysfs:file { getattr open read };

# Gaming Mode
allow system_app proc_touchpanel:dir { search };
allow system_app proc_touchpanel:file { getattr open read write };

# OTG Tile
allow system_app sysfs_usb_supply:file { write };

# allow system apps to read battery status
r_dir_file(system_app, sysfs_battery_supply)

# Allow theme_prop to be read and set by Settings
get_prop(system_app, theme_prop)
set_prop(system_app, theme_prop)