import /system/etc/init/init.realmehub.rc

on init
    mount none /vendor/lost+found /vendor/overlay bind

on late-fs
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/scheduler cfq
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/nr_requests 256

on property:sys.boot_completed=1

    # Values from KTweak balance script
    write /sys/block/mmcblk0/queue/add_random 0
    write /sys/block/mmcblk0/queue/nr_requests 64
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/mmcblk1/queue/scheduler cfq
    write /sys/block/mmcblk1/queue/add_random 0
    write /sys/block/mmcblk1/queue/iostats 0
    write /sys/block/mmcblk1/queue/nr_requests 64
    write /sys/block/mmcblk1/queue/read_ahead_kb 128

    write /proc/sys/kernel/perf_cpu_time_max_percent 5
    write /proc/sys/kernel/sched_autogroup_enabled 1
    write /proc/sys/kernel/sched_child_runs_first 1
    write /proc/sys/kernel/sched_tunable_scaling 0
    write /proc/sys/kernel/sched_migration_cost_ns 5000000
    write /proc/sys/kernel/sched_min_task_util_for_colocation 0
    write /proc/sys/kernel/sched_nr_migrate 32
    write /proc/sys/kernel/sched_schedstats 0
    write /proc/sys/kernel/printk_devkmsg off
    write /proc/sys/vm/dirty_background_ratio 10
    write /proc/sys/vm/dirty_ratio 30
    write /proc/sys/vm/dirty_expire_centisecs 3000
    write /proc/sys/vm/dirty_writeback_centisecs 3000
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/stat_interval 10
    write /proc/sys/vm/swappiness 100
    write /proc/sys/vm/vfs_cache_pressure 100
    write /proc/sys/net/ipv4/tcp_ecn 1
    write /proc/sys/net/ipv4/tcp_fastopen 3
    write /proc/sys/net/ipv4/tcp_syncookies 0

    write /dev/blkio/blkio.weight 1000
    write /dev/blkio/background/blkio.weight 200
    write /dev/blkio/blkio.group_idle 2000
    write /dev/blkio/background/blkio.group_idle 0

    # Enable idle state listener
    write /sys/class/drm/card0/device/idle_encoder_mask 1
    write /sys/class/drm/card0/device/idle_timeout_ms 100

    # Uclamp tunings
    write /proc/sys/kernel/sched_util_clamp_min_rt_default 96
    write /proc/sys/kernel/sched_util_clamp_min 128

    # top-app
    write /dev/cpuset/top-app/uclamp.max max
    write /dev/cpuset/top-app/uclamp.min 20
    write /dev/cpuset/top-app/uclamp.boosted 1
    write /dev/cpuset/top-app/uclamp.latency_sensitive 1

    # foreground
    write /dev/cpuset/foreground/uclamp.max 50
    write /dev/cpuset/foreground/uclamp.min 20
    write /dev/cpuset/foreground/uclamp.boosted 0
    write /dev/cpuset/foreground/uclamp.latency_sensitive 0

    # background
    write /dev/cpuset/background/uclamp.max max
    write /dev/cpuset/background/uclamp.min 20
    write /dev/cpuset/background/uclamp.boosted 0
    write /dev/cpuset/background/uclamp.latency_sensitive 0

    # system-background
    write /dev/cpuset/system-background/uclamp.max 50
    write /dev/cpuset/system-background/uclamp.min 10
    write /dev/cpuset/system-background/uclamp.boosted 0
    write /dev/cpuset/system-background/uclamp.latency_sensitive 0

on boot
    # DT2W
    chown system system /proc/touchpanel/double_tap_enable
    chmod 0660 /proc/touchpanel/double_tap_enable

    # Disable edge limit control interface
    write /proc/touchpanel/oppo_tp_limit_enable 0

    # Enable oppo touchpanel direction
    write /proc/touchpanel/oppo_tp_direction 1

    # Kernelspace battery saver
    chown system system /sys/module/battery_saver/parameters/enabled
    chmod 0660 /sys/module/battery_saver/parameters/enabled

    # Update touchscreen firmware
    write /proc/touchpanel/tp_fw_update 1

    # OTG
    write /sys/class/power_supply/usb/otg_switch 0

    # FP
    chown system system /dev/goodix_fp
    chown system system /dev/esfp0
    
    chown system system /sys/class/power_supply/battery/input_suspend
    chmod 0666 /sys/class/power_supply/battery/input_suspend

service oppo_fingerprints_sh /vendor/bin/sh /vendor/bin/init.oppo.fingerprints.sh
    class main
    user root
    oneshot

service fps_hal /vendor/bin/hw/vendor.oppo.hardware.biometrics.fingerprint@2.1-service
    class late_start
    user system
    group system input uhid

on post-fs-data
    mkdir /data/gf_data 0700 system system
    mkdir /data/system/gf_data 0700 system system
    mkdir /data/images 0700 system system
    mkdir /data/system/silead 0770 system system
    mkdir /persist/silead 0770 system system
    chown system  system /sys/bus/platform/devices/fpc_interrupt/clk_enable
    chown system  system /sys/bus/platform/devices/fpc_interrupt/wakelock_enable
    chown system  system /sys/bus/platform/devices/fpc_interrupt/irq
    chown system  system /sys/bus/platform/devices/fpc_interrupt/irq_enable
    chown system  system /sys/bus/platform/devices/fpc_interrupt/irq_unexpected
    chmod 0200 /sys/bus/platform/devices/fpc_interrupt/irq_enable
    chmod 0200 /sys/bus/platform/devices/fpc_interrupt/clk_enable
    chmod 0200 /sys/bus/platform/devices/fpc_interrupt/wakelock_enable
    chmod 0600 /sys/bus/platform/devices/fpc_interrupt/irq
    chmod 0660 /sys/bus/platform/devices/fpc_interrupt/irq_unexpected
    mkdir /data/vendor/fingerprint 0770 system system
    mkdir /mnt/vendor/persist/fingerprint 0770 system system
    chown system system /sys/kernel/oppo_display/hbm
    mkdir /data/vendor/silead 0770 system system
    mkdir /mnt/vendor/persist/fingerprint/silead 0770 system system
    mkdir /data/vendor/egis   0770 system system

service charger /system/bin/charger
    class charger
    user system
    group system graphics input
    capabilities SYS_BOOT
    seclabel u:r:charger:s0

service face_hal /system/bin/true
    disabled

service cvphalservice /system/bin/true
    disabled

service vendor.power-hal-1-0 /system/bin/true
    disabled

service perf-hal-2-0 /system/bin/true
    disabled
